{{!< default}}
  <div id="canvas-container"></div>
  <img id="landing-logo" src="/images/rebecalogo.png" alt="Rebeca 2016"/>
  <div id="landing-text-box"></div>
  <div id="landing-date">31<sup>st</sup>March to 3<sup>rd</sup>April, 2016</div>
  <div id="landing-button">Explore</div>
  <div id="static-nav">
      <ul>
          <li><a href="#" onclick="REBECA.setPage(2);">About</a></li>
          <li><a href="#" onclick="REBECA.setPage(3);">The Nights</a></li>
          <li><a href="#" onclick="REBECA.setPage(5);">Events</a></li>
          <li><a href="#" onclick="REBECA.setPage(6);">Sponsors</a></li>
          <li><a href="#" onclick="REBECA.setPage(7);">Contact</a></li>
      </ul>
      <img src="/images/IIEST.png" alt="IIEST Shibpur" />
      <span id="presentedby" >presented by IIEST Shibpur </span>
  </div>
  <div id="content-wrapper">
      <div class="main">
      <section>
          <div id="slideshow">
             <div style="background-image: url('/images/rebeca4.jpg')">
                  <div class="slide_title" style="color: black">Four nights of extravaganza</div>
             </div>
             <div style="background-image: url('/images/stage.jpg')">
                  <div class="slide_title" style="color: black">Four nights of ecstacy</div>
             </div>
             <div style="background-image: url('https://scontent-fra3-1.xx.fbcdn.net/hphotos-xlt1/v/t1.0-9/12743758_984750754937732_777716384972075365_n.jpg?oh=5f3eb33ffdf1917842c8886f9685b601&oe=575134B5')">
                  <div class="slide_title" >Four nights of nostalgia</div>
             </div>
          </div>
          <div id="scroll-down" onclick="REBECA.setPage(2);">
              <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" width="100%" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 354.33071 177.16535">
              <g transform="translate(0 -875.2)">
              <path style="opacity:0.91;stroke-linejoin:round;stroke:#fff;stroke-linecap:round;stroke-width:37.57;fill:none" d="m33.29 915.7 152.1 103.3 129.7-103.3"/>
              </g>
              </svg>
          </div>
      </section>
      <section>
          <div class="sections" style="padding-top: 20vh" >
              <h1> REBECA</h1>
              <p style="font-weight: normal">Reunion and Bengal Engineering College Annuals</p>
              <p>From it's very inception in 1932, this has been the annual reunion of the then BE College. Later on it has been transformed into an annual college fest cum reunion, well known for its magnanimity in eastern India. On this 78th edition of REBECA, we believe the unity amongst the students and the ever growing presence of our alumni will be more evident than ever before.</p>
          </div>
      </section>
      <section>
          <div class="sections" style="background: #087F96;">
          <img src="/images/classical.png" alt="classical night" style="float: right; margin: 0 30px; width: 270px"/>
              <h1> Classical Night</h1>
              <p>The first day of our auspicious fest decorated with amazing performances by well known classical singers and dance groups.</p>
              <img src="/images/beingsnight.png" alt="classical night" style="float: left; margin: 0 30px; width: 270px"/>
              <h1 style="margin-top: 150px"> BEings Night</h1>
              <p>Breath taking performances by our students portraying their talent, including a dance competition 'oscillations'.</p>                
          </div>
      </section>      
      <section>
          <div class="sections" style="background: #fff; color: black; padding: 0">
              <img src="/images/kolkata.jpg" alt="classical night" style="float: right; margin-left: 30px; width: 378px;"/>
              <h1> Kolkata Night</h1>
              <p>Spell bounding performances by renowned artists and bands from kolkata, giving local artists a huge platform to show their talent.</p>
              <img src="/images/bollywood.jpg" alt="classical night" style=" float: left; width: 85vh; margin-top: 10vh;"/>   
              <h1 style="margin-top: 200px;"> Mumbai Night</h1>
              <p>Sensational performances by various stars from our very beloved Bollywood.</p>
          </div>
      </section>
      <section>
              <div class="sections"  style="background: #033649;">
              <h1>Events</h1>
              <p>To be announced soon.</p>
          </div>
      </section>
      <section>
              <div class="sections"  style="background: #031634; padding-top: 10vh;">
              <h1>with love and support from..</h1>
              <div id="sponsor-slide">
                  <div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/arambagh.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/coalindia.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/coke.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/friendsFM.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/itd.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/pantaloons.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/pedilite.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/sail.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/sbi.png" alt="sponsor logo"></img>
                      </div>
                  </div>
                  <div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/simoco.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/simplex.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/sp.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/telegraph.png" alt="sponsor logo"></img>
                      </div>
                      <div class="sponsor-logo-wrapper">
                      <img class="sponsor-logo" src="/images/sponsors/ubi.png" alt="sponsor logo"></img>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section>
          <div class="sections" style="background: black">
              <h1>Get in touch</h1>
              <div id="contact-slide">
                  <div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Devarpan Mukherjee.jpg');"></div>
                          <span class="contact-card-name">Devarpan Mukherjee</span>
                          <span class="contact-card-desig"><br/>SECRETARY GENERAL</span>
                          <span class="contact-card-phone"><br/>9883512931</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Anupam Mondal.jpg');"></div>
                          <span class="contact-card-name">Anupam Mondal</span>
                          <span class="contact-card-desig"><br/>SECRETARY GENERAL</span>
                          <span class="contact-card-phone"><br/>9434641162</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Prince Kumar.jpg');"></div>
                          <span class="contact-card-name">Prince Kumar</span>
                          <span class="contact-card-desig"><br/>JOINT SECRETARY</span>
                          <span class="contact-card-phone"><br/>9883512931</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Riyank Roy.jpg');"></div>
                          <span class="contact-card-name">Riyank Roy</span>
                          <span class="contact-card-desig"><br/>JOINT SECRETARY</span>
                          <span class="contact-card-phone"><br/>9883512931</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Sahariar Khan.jpg');"></div>
                          <span class="contact-card-name" >Sahariar Khan</span>
                          <span class="contact-card-desig"><br/>FINANCE</span>
                          <span class="contact-card-phone"><br/>9609479108</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Arijit Misra.jpg');"></div>
                          <span class="contact-card-name">Arijit Misra</span>
                          <span class="contact-card-desig"><br/>FINANCE</span>
                          <span class="contact-card-phone"><br/>9432341649</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Arjya Majumder.jpg');"></div>
                          <span class="contact-card-name">Arjya Majumder</span>
                          <span class="contact-card-desig"><br/>ALUMNI COLLECTION</span>
                          <span class="contact-card-phone"><br/>8697514252</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Biswajit Mondal.jpg');"></div>
                          <span class="contact-card-name">Biswajit Mondal</span>
                          <span class="contact-card-desig"><br/>ALUMNI COLLECTION</span>
                          <span class="contact-card-phone"><br/>9851156885</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Soumyodeep Das.jpg');"></div>
                          <span class="contact-card-name">Soumyodeep Das</span>
                          <span class="contact-card-desig"><br/>CULTURAL</span>
                          <span class="contact-card-phone"><br/>8443990121</span>
                      </div>
                  </div>
                  <div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Md. Ismile Shaikh.jpg');"></div>
                          <span class="contact-card-name">Md. Ismile Shaikh</span>
                          <span class="contact-card-desig"><br/>CULTURAL</span>
                          <span class="contact-card-phone"><br/>9593792175</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Chittabrata Ghar.jpg');"></div>
                          <span class="contact-card-name">Chittabrata Ghar</span>
                          <span class="contact-card-desig"><br/>TRAVEL &amp; LOGISTICS</span>
                          <span class="contact-card-phone"><br/>9874140762</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Soumyodeep Mainan.jpg');"></div>
                          <span class="contact-card-name">Soumyodeep Mainan </span>
                          <span class="contact-card-desig"><br/>TRAVEL &amp; LOGISTICS</span>
                          <span class="contact-card-phone"><br/>9153177138</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Soumik Acharyya.jpg');"></div>
                          <span class="contact-card-name">Soumik Acharyya</span>
                          <span class="contact-card-desig"><br/>STAGE &amp; DECORATION</span>
                          <span class="contact-card-phone"><br/>8902772030</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Soham Karmakar.jpg');"></div>
                          <span class="contact-card-name">Soham Karmakar</span>
                          <span class="contact-card-desig"><br/>STAGE &amp; DECORATION</span>
                          <span class="contact-card-phone"><br/>9007566336</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Ayan Roy.jpg');"></div>
                          <span class="contact-card-name">Ayan Roy</span>
                          <span class="contact-card-desig"><br/>PUBLICATION</span>
                          <span class="contact-card-phone"><br/>9831927857</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Sayak Banerjee.jpg');"></div>
                          <span class="contact-card-name">Sayak Banerjee</span>
                          <span class="contact-card-desig"><br/>PUBLICATION</span>
                          <span class="contact-card-phone"><br/>8001112745</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Samudra Bhattacharjee.jpg');"></div>
                          <span class="contact-card-name">Samudra Bhattacharjee</span>
                          <span class="contact-card-desig"><br/>EVENT MANAGEMENT</span>
                          <span class="contact-card-phone"><br/>9804651415</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Kaushik Bhakat.jpg');"></div>
                          <span class="contact-card-name">Kaushik Bhakat</span>
                          <span class="contact-card-desig"><br/>EVENT MANAGEMENT</span>
                          <span class="contact-card-phone"><br/>8436066350</span>
                      </div>
                  </div>
                  <div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Abhirup Mitra.jpg');"></div>
                          <span class="contact-card-name">Abhirup Mitra</span>
                          <span class="contact-card-desig"><br/>SPONSORSHIP</span>
                          <span class="contact-card-phone"><br/>9434477927</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Anandamoy Chatterjee.jpg');"></div>
                          <span class="contact-card-name">Anandamoy Chatterjee</span>
                          <span class="contact-card-desig"><br/>SPONSORSHIP</span>
                          <span class="contact-card-phone"><br/>9830937188</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Somesh Vikrant.jpg');"></div>
                          <span class="contact-card-name">Somesh Vikrant</span>
                          <span class="contact-card-desig"><br/>PUBLICITY</span>
                          <span class="contact-card-phone"><br/>9434225562</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Nirabhra Mondal.jpg');"></div>
                          <span class="contact-card-name">Nirabhra Mondal</span>
                          <span class="contact-card-desig"><br/>PUBLICITY</span>
                          <span class="contact-card-phone"><br/>8159028359</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Tinjal Kumar Das.jpg');"></div>
                          <span class="contact-card-name">Tinjal Kumar Das</span>
                          <span class="contact-card-desig"><br/>ALUMNI MEET</span>
                          <span class="contact-card-phone"><br/>8670015580</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Abdus Samad Shaikh.jpg');"></div>
                          <span class="contact-card-name">Abdus Samad Shaikh</span>
                          <span class="contact-card-desig"><br/>ALUMNI MEET</span>
                          <span class="contact-card-phone"><br/>8420365570</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Partha Pratim Dutta.jpg');"></div>
                          <span class="contact-card-name">Partha Pratim Dutta</span>
                          <span class="contact-card-desig"><br/>COMPETITION &amp; SEMINAR</span>
                          <span class="contact-card-phone"><br/>9433042238</span>
                      </div>
                      <div class="contact-card">
                          <div class="contact-card-photo" style = "background-image: url('/images/members/Binayak Ghosh.jpg');"></div>
                          <span class="contact-card-name">Binayak Ghosh</span>
                          <span class="contact-card-desig"><br/>WEB DESIGN</span>
                          <span class="contact-card-phone"><br/>9434110169</span>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.onepage-scroll.min.js"></script>
  <script type="text/javascript" src="/js/three.min.js"></script>
  <script type="text/javascript" src="/js/shaders/CopyShader.js"></script>
  <script type="text/javascript" src="/js/shaders/RGBShiftShader.js"></script>
  <script type="text/javascript" src="/js/shaders/DotScreenShader.js"></script>
  <script type="text/javascript" src="/js/shaders/HorizontalTiltShiftShader.js"></script>
  <script type="text/javascript" src="/js/shaders/VerticalTiltShiftShader.js"></script>
  <script type="text/javascript" src="/js/shaders/BlendShader.js"></script>
  <script type="text/javascript" src="/js/postprocessing/EffectComposer.js"></script>
  <script type="text/javascript" src="/js/postprocessing/SavePass.js"></script>
  <script type="text/javascript" src="/js/postprocessing/MaskPass.js"></script>
  <script type="text/javascript" src="/js/postprocessing/ShaderPass.js"></script>
  <script type="text/javascript" src="/js/postprocessing/RenderPass.js"></script>
  <script type="text/javascript" src="/js/libs/EKTweener.min.js"></script>
  <script type="text/javascript" src="/js/libs/quickLoader.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>

